@inject NavigationManager _navigationManager;

<header class="header">
    <div class="wrapper-content header-content">
        <div class="logo">
            <a href="/">
                <img src="/assets/taskPlannerLogo.svg" alt="logo" />
            </a>
        </div>
        <nav class="main-navigation">
            <a href="/Identity/Account/Logout" class="signup-button">Sair</a>
        </nav>
    </div>
</header>

@code {

}