@page "/Identity/Account/Login"
@model TaskPlanner.Areas.Identity.Pages.Account.LoginModel

<div class="login-container">
    <div class="content">
        <img src="/assets/taskPlannerLogo.svg" alt="TaskPlanner Logo" />
        <div class="form-container">
            <h1>Faça seu registro!</h1>

            <form class="login-form">
                <div class="input-container">
                    <span class="material-symbols-outlined icon" style="font-size: 24px">email</span>
                    <div class="input">
                        <input asp-for="LoginViewModel.Email" class="edit-input" placeholder="E-mail" />
                    </div>
                </div>

                <div class="input-container">
                    <span class="material-symbols-outlined icon" style="font-size: 24px">lock</span>
                    <div class="input">
                        <input asp-for="LoginViewModel.Password" class="edit-input" placeholder="Senha" />
                    </div>
                </div>

                <button class="btn-register" type="submit">
                    Login
                </button>
            </form>

            <a href="/Identity/Account/Register" class="register-link">Ainda não possui uma conta?</a>
        </div>
    </div>
    <div class="login-img"></div>
</div>

@{
}
