@page "/Identity/Account/Register"
@model TaskPlanner.Areas.Identity.Pages.Account.RegisterModel

@section Scripts {
    <script src="/scripts/jquery-validate/jquery.validate.min.js"></script>
    <script src="/scripts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="success-register" style="display: @(Model.Success ? "flex" : "none")">
    <p>
        Usuário registrado com sucesso!
    </p>
    <a href="/Identity/Account/Login">Clique aqui para fazer login.</a>
</div>
<div class="register-container">
    <div class="register-img"></div>
    <div class="content">
        <img src="/assets/taskPlannerLogo.svg" alt="TaskPlanner Logo" />
        <div class="form-container">
            <h1>Faça seu registro!</h1>

            <form class="register-form" method="post">
                <div class="form-group-account">
                    <div class="input-container">
                        <span class="material-symbols-outlined icon" style="font-size: 24px">account_circle</span>
                        <div class="input">
                            <input asp-for="UserRegisterForm.FirstName" class="edit-input" placeholder="Nome" />
                        </div>
                    </div>
                    <span asp-validation-for="UserRegisterForm.FirstName" class="account-text-danger"></span>
                </div>

                <div class="form-group-account">
                    <div class="input-container">
                        <span class="material-symbols-outlined icon" style="font-size: 24px">account_circle</span>
                        <div class="input">
                            <input asp-for="UserRegisterForm.LastName" class="edit-input" placeholder="Sobrenome" />
                        </div>
                    </div>
                    <span asp-validation-for="UserRegisterForm.LastName" class="account-text-danger"></span>
                </div>

                <div class="form-group-account">
                    <div class="input-container">
                        <span class="material-symbols-outlined icon" style="font-size: 24px">email</span>
                        <div class="input">
                            <input asp-for="UserRegisterForm.Email" class="edit-input" placeholder="E-mail" />
                        </div>
                    </div>
                    <span asp-validation-for="UserRegisterForm.Email" class="account-text-danger"></span>
                </div>

                <div class="form-group-account">
                    <div class="input-container">
                        <span class="material-symbols-outlined icon" style="font-size: 24px">lock</span>
                        <div class="input">
                            <input asp-for="UserRegisterForm.Password" class="edit-input" placeholder="Senha" />
                        </div>
                    </div>
                    <span asp-validation-for="UserRegisterForm.Password" class="account-text-danger"></span>
                </div>

                <div class="form-group-account">
                    <div class="input-container">
                        <span class="material-symbols-outlined icon" style="font-size: 24px">lock</span>
                        <div class="input">
                            <input asp-for="UserRegisterForm.ConfirmPassword" class="edit-input" placeholder="Confirmação de senha" />
                        </div>
                    </div>
                    <span asp-validation-for="UserRegisterForm.ConfirmPassword" class="account-text-danger"></span>
                </div>

                <span class="account-text-danger @(string.IsNullOrEmpty(Model.ErrorMessage) ? "hide-account-error" : "display-account-error")">@Model.ErrorMessage</span>

                <button class="btn-register" type="submit">
                    Registrar
                </button>
            </form>


            <a href="/Identity/Account/Login" class="login-link">Já possui uma conta?</a>
        </div>
    </div>
</div>

