@using Microsoft.AspNetCore.Authorization;
@inherits LayoutComponentBase

@attribute [AllowAnonymous]

<Header />
<main class="margin-top-content">
    <div class="wrapper-content">
        @Body
    </div>
</main>



