.edit-input {
    width: 100%;
    height: 2rem;
    resize: none;
    color: var(--primary);
    border: 0;
    background-color: transparent;
    line-height: 1.4;
    padding: 0 0.5rem;
}

    .edit-input::placeholder {
        color: var(--primary);
        opacity: 0.5;
    }

    .edit-input:focus {
        outline: none;
        box-shadow: none;
    }


.edit-validation-message {
    color: var(--action-2);
    margin-top: 0.3rem;
}

.register-form, .login-form {
    width: 300px;
    text-align: center;
}

.form-group-account .account-text-danger {
    display: flex;
    color: var(--danger);
    font-size: 0.875rem;
    font-weight: 500;
}
